// CSS that work on dropdown  of submenu items

.Navigation-listItem--hasDropdown {
    position: relative;
    text-decoration: none;
}

ul.Navigation-list--dropdown {
    display: block;
    height: auto;
    position: absolute;
    width: 204%;
    line-height: 40px;
    z-index: 9999;
    margin-top: 27px;
    left:0;
}

ul.Navigation-list--dropdown li.Navigation-listItem {
    display: block;
    padding: 0px 2px;
    margin: 0px auto;
    border: 0px none;
    width: 100%;
    a{
       display: block;
       margin-left: 6%;
       width: 300px;
    }
}

.Navigation-list.is-hidden {
	display: none;
}
