footer{
	margin:0% 0 0 0;
}
.footer-wrapper{
	background:$a-style;
}
.footer-bloginfo{
	text-align:center;
}
.footer-contact{
	color:#fff ;
	a{
		color: #fff;
	}
}
.widgettitle{
	color:#fff;
	font-size:15px !important;
}