//css threecolumns
.threecolumns-wrapper{
	padding-left: 0;
	padding-right: 0;
}
.column{
	border:1px solid #000;
	position: relative;
	height: 200px;
	margin-bottom:2%;

}
.bottom-text{
	border-top:1px solid #000;
	padding: 2% 0 0 0;
}

.padding-text{
	p{
		padding: 0 4%;
		text-align: justify;
	}
}
 .colomn-bottom-left{
 	text-align: center;
 }
 .column1{
 	background-size:100%;
	background: url("../img/column1.jpg") no-repeat;
	background-position: center center;
	background-attachment: relative;
	background-size: cover;
 }
  .column2{
 	background-size:100%;
	background: url("../img/column2.jpg") no-repeat;
	background-position: center center;
	background-attachment: relative;
	background-size: cover;
 }
  .column3{
 	background-size:100%;
	background: url("../img/column3.jpg") no-repeat;
	background-position: center center;
	background-attachment: relative;
	background-size: cover;
 }
  .column4{
 	background-size:100%;
	background: url("../img/column4.jpg") no-repeat;
	background-position: center center;
	background-attachment: relative;
	background-size: cover;
 }
  .column5{
 	background-size:100%;
	background: url("../img/column5.jpg") no-repeat;
	background-position: center center;
	background-attachment: relative;
	background-size: cover;
 }
  .column6{
 	background-size:100%;
	background: url("../img/column6.jpg") no-repeat;
	background-position: center center;
	background-attachment: relative;
	background-size: cover;
 }
 .welkomstekst{
 		padding:0 4%;
 		text-align:justify ;
}
.title-home{
	text-align: center;
	color: #006991;
}
.color-link{
	color: #006991;
	text-decoration: none;
} 